<div class="search">
   <h1 style="text-align: center;">Search for customers:</h1>
   <div class="toolbox">
      <input style="width: 65%;" type="text" [(ngModel)]="searchQuery" placeholder="Search">
      <button class="button button-primary" (click)="searchQueryChanged()">Search</button>
      <button class="button button-clear" (click)="clearSearch()">Clear</button>
      <button class="button button-primary" *ngIf="hasResults" (click)="export()">Export</button>
   </div>
   <app-spinner #spinner></app-spinner>
   <div class="table-container" *ngIf="hasResults">
      <div class="scroll">
         <table>
            <thead>
               <tr>
                  <th>No.</th>
                  <th>ID</th>
                  <th></th>
                  <th> Name</th>
                  <th>VAT</th>
                  <th>PersonId</th>
               </tr>
            </thead> 
            <tbody>
               <tr *ngFor="let item; let i = index of resultModel">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.id }}</td>
                  <td class="icon" *ngIf="item.personId"><img src="../../../assets/person.svg"></td>
                  <td class="icon" *ngIf="item.vat"><img src="../../../assets/business.svg"></td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.vat}}</td>
                  <td>{{ item.personId }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>