
.table-container {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-container td, .table-container th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-container tr:nth-child(even){background-color: #f2f2f2;}
  
  .table-container tr:hover {background-color: #ddd;}
  
  .table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .button {
    width: 85px;
    border-radius: 12px;
    border: none;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 6px;
    cursor: pointer;
}

.button-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-style: solid
}

.button-primary:hover {
    opacity: 0.9;
}

.button-clear {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid
}

.button-clear:hover {
    opacity: 0.9;
}

input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../../assets/search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  .icon {
    width: 20px;
  }
