
.table-container {
    border-collapse: collapse; 
  }

  .search {
    margin: auto;
    width: 50%;
    padding: 10px; 
  }
  
  .table-container td, .table-container th {
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-container tr:nth-child(even){background-color: #222;}

  .table-container tr:nth-child(odd){background-color: #5d5a5d;}
  
  .table-container tr:hover {background-color: #a1c400;}
  
  .table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #363436;
    color: white;
  }

  .scroll {
    overflow: scroll;
    height: 600px;
  }

  .toolbox {
    width: 100%;
    display: inline-block;
  }

  .button {
    width: 85px;
    border-radius: 12px;
    border: none;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 6px;
    cursor: pointer;
}

.button-primary {
    color: #fff;
    background-color: #a1c400;
    border-color: #a1c400;
    border-style: solid
}

.button-primary:hover {
    background-color: #7b9407;
}

.button-clear {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid
}

.button-clear:hover {
  background-color: #c3c2c2;
}

input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../../assets/search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  input[type=text]:hover {
    border-color: #a1c400;
  }

  input[type=text]:focus {
    border-color: #a1c400;
  }

  .icon {
    width: 20px;
  }
